* {
  margin: 0;
  box-sizing: border-box;
}

div.texts .text {
  color: yellow;
}

.text {
  color: blue;
}

p {
  color: aqua;
}

.texts .text {
  color: red !important;
}

header {
  height: 80px;
  background-color: lightskyblue;
}

/* Cover Section */
.cover {
  position: relative;
  background-color: lightgreen;
  height: calc(100vh - 80px);
}
.box {
  cursor: pointer;
  position: absolute;
  border: 1px solid red;
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%) scale(3, 3);
  transition: 3s 2s ease-in;
}

.box:hover {
  /* transform: translate(-50%, -50%) scale(3, 3) skewX(0.5rad); */
  transform: translate(-50%, -50%) scale(3, 3) rotate(50deg);
}

.box2 {
  background-color: lightsalmon;
  width: 100px;
  height: 100px;
  /* transition: height 3s ease-in; */
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
}

.box2:hover {
  width: 300px;
}

/* Services Section */
.services {
  height: 100vh;
  background-color: lightsalmon;
}
